.dashboard-container {
  padding: 25px
}

.nav-pills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 25px;
}

.spaces-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
