// Specific CSS for your home-page
h1 {
  font-family: 'Poppins', sans-serif;
}

h6 {
  font-family: 'Poppins', sans-serif;
  color: white;
}

body {
  margin-top: 72px;
  background-color: white;
}

p {
  font-family: 'Poppins', sans-serif;
  margin-top: 1rem;
}
