// Specific CSS for your home-page
h1 {
  font-family: 'Poppins', sans-serif;
}

p {
  font-family: 'Poppins', sans-serif;
}

.btn-ghost a {
  color: #143601;
  text-decoration: none;
}

body {
  margin-top: 72px;
}