// Specific CSS for your home-page
h1 {
  font-family: 'Courier New', Courier, monospace;
}

p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn-ghost a {
  color: #143601;
  text-decoration: none;

}
