
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://assets.entrepreneur.com/content/3x2/2000/20170309164825-SCAD-workplace-cropped.jpeg)">
  <div class="container">
    <h1>The world's best coworking spaces at your fingertips</h1>
    <h6>Finding your ideal work-space just became so much easier</h6>
    <button class="btn-ghost"><%=link_to "See the spaces", spaces_path%></button>
  </div>
</div>

<%# -- USP Section -- %>

<div class="usp-cards">
  <div class="usp-card">
  </div>
  <div class="usp-card">
  </div>
  <div class="usp-card">
  </div>
</div>

<div> <p> Co-working offers a way for people to communicate, connect and collaborate to inspire new ideas and nurture existing projects. In response, Coworking spaces have become the dome of professional growth and development, offering a flexible workspace environment and services tailored to the growing global community of startups, entrepreneurs and freelancers. </p>
</div>
<%# -- Featured Spaces Section -- %>
<div class="container">
  <div class="featured-header">
    <h2>Featured Spaces</h2>
  </div>
   <div class="cards d-grid p-2">
    <% @featured_spaces.each do |space| %>
    <% if space.images.attached? %>
    <div class="card-category"style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path space.images.first.key, height: 300, crop: :fill %>')"
>   <% else %>
    <div class="card-category"><%=link_to space.name, space_path(space)%>
    <% end %>
      </div>
    <% end %>
  </div>
</div>
