
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://assets.entrepreneur.com/content/3x2/2000/20170309164825-SCAD-workplace-cropped.jpeg)">
  <div class="container">
    <h1>The world's best coworking spaces at your fingertips</h1>
    <p>Finding your ideal work-space just became that much easier</p>
    <button class="btn-ghost"><%=link_to "See our spaces", spaces_path%></button>
  </div>
</div>
