
<div class="banner d-flex" style="height: 90vh; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://hubble.imgix.net/listings/uploads/spaces/8168/SH_LIS.jpg?auto=format%2Ccompress&w=1200&q=30&dpr=2)">
  <div class="container text-center my-auto">
    <%= image_tag "LogoWhite.png", alt: "LOGO", width: "150px", height: "135px"%>
    <br>
    <br>
    <h1>The world's best coworking spaces at your fingertips</h1>
    <br>
    <h6>Finding your ideal work-space just became so much easier</h6>
    <br>
    <%=link_to "See the spaces", spaces_path, class: "btn-primary-home"%>
  </div>
</div>
