.btn-primary-home {
  background: #DDCE8D;
  color: #2A3332;
  border-color: #DDCE8D;
  padding: 0.75rem 0.375rem;
  text-decoration: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.btn-primary-home:hover {
  color: #DDCE8D;
  background: #2A3332;
  border-color: #2A3332;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #670BFF;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #4D04C4;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.btn-primary {
  background: #DDCE8D;
  color: #2A3332;
  border-color: #DDCE8D;
}

.btn-primary:hover {
  color: #DDCE8D;
  background: #2A3332;
  border-color: #2A3332;
}

.form-control{
  border-color: #DDCE8D;
}
